body{
    background: url('../images/3.jpg') center/cover fixed no-repeat;
    /* display: flex;
    position: absolute; */
}

img{
    display: flex;
    margin: auto;
    height: auto;
    width: 300px;
    /* border-radius: 150px; */
}
.box{
    width: 50%;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    background-color: #01c3ac93;
    /* opacity: 0.3; */
}

.title{
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-transform:uppercase;

}

.room-wall{
    background-color:  #feffff;
    border-radius: 20px;
    padding: 25px;
}

.room-title{
    font-size: 29px;
    color: #079b8a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.room-body{
    /* color: rgb(82, 82, 82); */
    color: #079b8ad7;
    font-size: 15px;
    font-family: sans-serif;
}

.main-body{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



input{
    border: 1px solid #079b8aaf;
    border-radius: 3px;
    margin-bottom: 4px;
}

.input-text{
    margin-bottom: 55px;
}

.buttons{
    display: block;
    /* background-color: #079b8a; */
    
}

.action-buttons{
    float: right;
}


.add-btn, .subtract-btn{
    text-decoration: none;
    border: 1.5px solid #079b8a;
    border-radius: 5px;
    color: #079b8a;
    padding: 5px 10px;
}

.subtract-btn{
    text-decoration: none;
    border: 1.5px solid #079b8a;
    border-radius: 5px;
    color: #079b8a;
    /* margin-left: 3px;
    margin-right: 3px; */
    padding: 5px 11px;
}

.add-btn:hover,.subtract-btn:hover{
    background-color: #079b8a;
    color: white;
}


.submit-btn{
    border: 1.5px solid #079b8a;
    border-radius: 5px;
    color: #079b8a;
    /* margin-left: 3px;
    margin-right: 3px; */
    padding: 3px 10px;
}

/* .act-btn:hover{    
    background-color: #079b8a;
    color: white;
} */

/* .sub-btn{
    display: block;

    float: right;

    border: 1.5px solid #079b8a;
    border-radius: 5px;
    color: #079b8a;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px 10px;
} */


.hor-bar{
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
}

.material-title{
    color: #079b8ad7;
    font-size: 18px;
    font-family: sans-serif;
}
.material-body{
    /* color: rgb(82, 82, 82); */
    color: #079b8ad7;
    font-size: 15px;
    font-family: sans-serif;
}

.materials-chk{
    margin-top: 6px;
    /* color: #079b8ad7; */
}


















.ceiling-title{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fence-title{
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-text{
    font-size: 18px;
    /* margin-top: 35px; */
    /* background-color: blueviolet; */
    line-height: 30px;
}

.input-box{
    margin-left: -25px !important  ;
}

input{
    width: 100px;
}
/* 
.material-title{
    font-size: 19px;
} */

.checkbox{
    margin-left: 27px;
    margin-bottom: 14px;
}